{% extends 'base.html' %}
{% load static %}
{% block content %}
<body>
{% include 'partials/_navbar.html' %}
<div class="container text-center">
    <h1 class="my-4">Collection Statistics</h1>
    {% for key,value in fields.items %}
    <div class="card mb-5">
        <h3 class="card-header mb-3"><i>Albums per {{key}}</i></h3>
        {% for dict in value %}
        {% if key == 'country' %}
        <p><b>{{dict.country}}</b> - {{dict.values_count}}</p>
        {% elif key == 'artist' %}
        <p><b>{{dict.artist}}</b> - {{dict.values_count}}</p>
        {% elif key == 'decade' %}
        <p><b>{{dict.decade}}</b> - {{dict.values_count}}</p>
        {% elif key == 'style' %}
        <p><b>{{dict.styles}}</b> - {{dict.values_count}}</p>
        {% elif key == 'genres' %}
        <p><b>{{dict.genres}}</b> - {{dict.values_count}}</p>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    <div class="card mb-5">
        <h3 class="card-header mb-3"><i>Artists per country</i></h3>
        {% for key,values in artists_per_country.items %}
        <p><b>{{key}}</b> - {{values}}</p>
        {% endfor %}
    </div>
</div>
</body>
{% endblock %}